<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/logback.xml" />
		<property name="LOG_FILE" value="/app/uploads/logs/UserManagement"/>
	

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		 <file>${LOG_FILE}/UserManagementLog</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}/UserManagementLogArchive.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			each archived file, size max 5KB
			<maxFileSize>25MB</maxFileSize>
			total size of all archive files, if total size > 20MB, it will delete 
				old archived file
			<totalSizeCap>1GB</totalSizeCap>
			60 days to keep
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d %p %c{1.} [%t] %m%n</pattern>
		</encoder>
	</appender>

	 <appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.lic.epgs" level="info"
		additivity="false">
		<appender-ref ref="FILE-ROLLING" />
	</logger>

	<root level="info">
		<appender-ref ref="FILE-ROLLING" />
	</root>

	 <logger name="com.lic.epgs" level="info"
		additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>